.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  max-width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bp-link {
  color: #61dafb;
}

input {
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #000000; 
  border: 1px solid #000000;
  padding: 5px 10px;
}

.btn btn-default dropdown-toggle {
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #FFFFFF; 
  border: 1px solid #FFFFFF;
  padding: 5px 10px; 
}

select {
  width: 200px;
}

#submitbutton {
  font-size: 18px;
  background-color: #282c34;
  border-radius: 20px;
  color: green; 
  border: 2px solid green;
  padding: 10px 30px;
}
