.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  max-width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bp-link {
  color: #61dafb;
}
